{% extends "base.html" %}
{% block title %}ユーザー情報確認{% endblock %}

{% block main_content %}
<h2>ユーザー情報確認</h2>
<ul>
    <li>ユーザーID: {{ user.user_id }}</li>
    <li>名前: {{ user.name }}</li>
    <li>メールアドレス: {{ user.email }}</li>
    <li>
        パスワード: {{ user.password }}
        <form action="{% url 'change_pwd' %}" method="get" style="display:inline;">
            <button type="submit">変更</button>
        </form>
    </li>
    <li>住所: {{ user.address }}</li>
</ul>
<a href="{% url 'logout' %}">ログアウト</a>
{% endblock %}