<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}旅色マップ{% endblock %}</title>
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}">
    </head>
<body>
    <div class="page-layout">
        <div class="page-left">
            <header class="header-section">
                <div class="app-title">旅色マップ</div>
                </header>
            
            <main class="main-content-area">
                {% block main_content %}
                {% endblock %}
            </main>
        </div>

        <aside class="page-right-sidebar">
            <div class="menu-icon-container">
                <div class="menu-icon">&#x2261;</div> </div>
            
            <nav class="menu-nav">
                <ul class="menu-list">
                    <li><a href="#">旅行先記録</a></li>
                    <li><a href="#">グルメ記録</a></li>
                    <li><a href="#">宿泊検索</a></li>
                    <li><a href="#">イベント検索</a></li>
                    <li><a href="#">アカウント情報</a></li>
                    <li><a href="#">ログアウト</a></li>
                </ul>
            </nav>

            {% block sidebar_content %}
            {% endblock %}
        </aside>
    </div>

    {% block scripts %}
    {% endblock %}
</body>
</html>